<!--  mobile menu  -->
<div class="py-5"></div>
<div id="mobile-menu"
     xmlns:th="http://www.thymeleaf.org"
     class="container-fluid fixed-bottom mt-5 bg-dark  py-2 border-top border-light border-white">
    <div class="d-flex justify-content-around">
        <a th:href="@{/}" class="text-decoration-none navbar-text">
            <i class="bi bi-house-door fs-2 mobile-text-75"></i>
        </a>
        <a th:href="@{/catalogs}" class="text-decoration-none navbar-text">
            <i class="bi bi-grid fs-2 mobile-text-75"></i>
        </a>
        <a th:href="@{/projects}" class="text-decoration-none navbar-text">
            <i class="bi bi-code-slash fs-2 mobile-text-75"></i>
        </a>
        <a th:href="@{/profile}" class="text-decoration-none navbar-text">
            <i class="bi bi-person-circle fs-2 mobile-text-75"></i>
        </a>
    </div>
</div>
<!--  mobile menu end  -->