<header id="header"
        style="max-width: 80px"
        class=" position-fixed top-0 start-0 bottom-0 z-0 border border-start-0 border-top-0 border-bottom-0">
    <div class="d-flex flex-column align-items-center gap-3 mt-4">
        <i role="button" class="bi text-white fs-2 fw-bold bi-justify"></i>
        <i role="button" class="bi text-white fs-2 fw-bold bi-search"></i>
        <i role="button" class="bi text-white fs-3 fw-bold bi-columns-gap"></i>
    </div>
    <a href="/" class="nav-link fs-1 text-nowrap" style="rotate: -90deg; margin-top: 300px">Ismoil Zaripov</a>
</header>